<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> MyDigity | Login</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> 
  <!-- <link href="{{ url_for('static', filename='css/landingPage.css')}}" rel="stylesheet" type="text/css"/> -->
</head>

<body>
    
    
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 bg-white">
        
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:white dark:border-gray-700">
      
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 bg-gray">
          
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-gray-800">
                Login in to your account
            </h1>
            
            <form action="/dashboard" method='post' class="space-y-4 md:space-y-6">
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-800 pt-10 ">Name</label>
                    <input class="h-10 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jim Carry" {...register("firstName")}  required="required"/>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-800 pt-10">Role Selection</label>
                    <select class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-bl dark:focus:ring-blue-500 dark:focus:border-blue-500" {...register("Role")} >
                      <option value="user">user</option> 
                      <option value="admin">admin</option>
                    </select>
                    <div class="flex w-full justify-center py-10">
                      <input class='h-10 w-full text-white bg-black cursor-pointer hover:drop-shadow-2xl focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ' type="submit" onClick={handleClick}/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>



</body>

</html>






















